In [1]:
import pandas as pd

In [2]:
raw = pd.read_csv('https://hilpisch.com/pyalgo_eikon_eod_data.csv',index_col=0,parse_dates=True).dropna()

In [3]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2516 entries, 2010-01-04 to 2019-12-31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL.O  2516 non-null   float64
 1   MSFT.O  2516 non-null   float64
 2   INTC.O  2516 non-null   float64
 3   AMZN.O  2516 non-null   float64
 4   GS.N    2516 non-null   float64
 5   SPY     2516 non-null   float64
 6   .SPX    2516 non-null   float64
 7   .VIX    2516 non-null   float64
 8   EUR=    2516 non-null   float64
 9   XAU=    2516 non-null   float64
 10  GDX     2516 non-null   float64
 11  GLD     2516 non-null   float64
dtypes: float64(12)
memory usage: 255.5 KB

In [4]:
data = pd.DataFrame(raw['EUR='])

In [6]:
data.rename(columns={'EUR=': 'price'}, inplace=True)

In [7]:
data['SMA1'] = data['price'].rolling(42).mean()
data['SMA2'] = data['price'].rolling(252).mean()

In [8]:
data.tail()

             price      SMA1      SMA2
Date
2019-12-24  1.1087  1.107698  1.119630
2019-12-26  1.1096  1.107740  1.119529
2019-12-27  1.1175  1.107924  1.119428
2019-12-30  1.1197  1.108131  1.119333
2019-12-31  1.1210  1.108279  1.119231

In [11]:
%matplotlib inline
from pylab import mpl, plt